<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-security.xml"/>
    <context:annotation-config/>
    <!--<context:component-scan base-package="org.rublin.repository.jdbc"/>-->
    <context:component-scan base-package="org.rublin.service"/>
    <context:component-scan base-package="org.rublin.controller"/>
    <bean id="telegramAPI" class="org.rublin.controller.TelegramStartUp"
          init-method="startTelegramBotApi" destroy-method="stopTelegramApi">
        <!--<property name="message" value=""-->
    </bean>
</beans>
